{% extends "GlobalBundle:Admin/Layout:layout.html.twig" %}

{% block contentTitre %} Ajouter un projet{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.titre, "Titre *") }}
		{{ form_errors(form.titre) }}
		{{ form_widget(form.titre, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.lien, "Lien *") }}
        {{ form_errors(form.lien) }}
        {{ form_widget(form.lien, {'attr': {'class': 'form-elem big'}}) }}

		{{ form_label(form.fileimage, "Image *") }}
		{{ form_errors(form.fileimage) }}
		{{ form_widget(form.fileimage, {'attr': {'class': 'form-elem big'}}) }}
		<div class="form-legende">
			Taille minimum: 640px de large par 480px de haut<br>Poid maximum : 3Mo<br>Format : jpg, jpeg, png
		</div>

        {{ form_label(form.fileimageavant, "Image avant") }}
        {{ form_errors(form.fileimageavant) }}
        {{ form_widget(form.fileimageavant, {'attr': {'class': 'form-elem big'}}) }}
        <div class="form-legende">
            Taille minimum: 300px de large par 300px de haut<br>Poid maximum : 3Mo<br>Format : jpg, jpeg, png
        </div>

        {{ form_label(form.categorie, "Catégorie *") }}
        {{ form_errors(form.categorie) }}
        {{ form_widget(form.categorie, {'attr': {'class': 'form-elem big'}}) }}

        <div class="form-radio">
            {{ form_label(form.avant, "Mise en avant *") }}
            {{ form_errors(form.avant) }}
            {{ form_widget(form.avant) }}
        </div>

		{{ form_label(form.contenu, "Contenu *") }}
		{{ form_errors(form.contenu) }}
		{{ form_widget(form.contenu, {'attr': {'class': 'tinymce form-elem big wysiwyg'}}) }}

		<br>

		{{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}

{% block scriptAfter %}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js')}}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: ".wysiwyg",
            entity_encoding : "raw",
            encoding: "UTF-8",
            browser_spellcheck : true,
            plugins: "link, paste, code",
            height:"250px",
            menubar : false,
            paste_as_text: true,
            language : 'fr_FR',
            content_css : "{{ asset('js/tinymce/tinymce.css') }}",
            toolbar: "undo redo | bold italic underline link | code"
        });
    </script>
{% endblock %}

