<footer class="footer">
    <div class="inner">
        <div class="col">
            <img src="{{ asset('img/layout/footer1.png') }}" class="footerJaune">
            <img src="{{ asset('img/layout/footer1Noir.png') }}" class="footerNoir">
            <p>Luc Pinelli</p>
            <p>Front & Backend Developper</p>
        </div>
        <div class="col">
            <img src="{{ asset('img/layout/footer2.png') }}"  class="footerJaune">
            <img src="{{ asset('img/layout/footer2Noir.png') }}"  class="footerNoir">
            <p>38000 Grenoble</p>
            <p>France</p>
            <p>06 64 49 67 71</p>
        </div>
        <div class="col">
            <img src="{{ asset('img/layout/footer3.png') }}"  class="footerJaune">
            <img src="{{ asset('img/layout/footer3Noir.png') }}"  class="footerNoir">
            <p>PHP, MySQL, JQuery, Javascript</p>
            <p>Grunt, Github, PhpStorm, Composer</p>
            <p>Symfony, Drupal ,Prestashop, Css3</p>
            <p>Compass, VivusJS, particleJs</p>
        </div>

        <div class="clear"></div>
    </div>
</footer>