<footer class="footer">
    <div class="inner">
        <div class="col">
            <img src="{{ asset('img/layout/footer1.png') }}" class="footerJaune">
            <img src="{{ asset('img/layout/footer1Noir.png') }}" class="footerNoir">
            <p>Luc Pinelli</p>
            <p>French Front-end</p>
            <p>developer,</p>
            <p>technology & code</p>
        </div>
        <div class="col">
            <img src="{{ asset('img/layout/footer2.png') }}"  class="footerJaune">
            <img src="{{ asset('img/layout/footer2Noir.png') }}"  class="footerNoir">
            <p>38000 Grenoble</p>
            <p>France</p>
            <p>+33 6 123 456 78</p>
        </div>
        <div class="col">
            <img src="{{ asset('img/layout/footer3.png') }}"  class="footerJaune">
            <img src="{{ asset('img/layout/footer3Noir.png') }}"  class="footerNoir">
            <p>PHP 5, MySQL, JSON, JQuery</p>
            <p>HTML 5, Drupal, CSS 3, Ajax,</p>
            <p>Compass, Adobe Photoshop, CakePHP</p>
        </div>

        <div class="clear"></div>
    </div>
</footer>