<nav class="menu">
    <div class="inner">

        <div class="menuLogo">
            <a href="{{ path('client_page_index') }}"><img src="{{ asset('img/layout/logo.png') }}"></a>
        </div>

        <div class="menuBtn">
            <span></span>
        </div>
    </div>

    <div class="menuContenu">
        <ul>
            <li><a href="{{ path('client_page_index') }}">Accueil</a></li>
            <li><a href="{{ path('client_projet_manager') }}">Projets</a></li>
            <li><a href="{{ path('client_page_index') }}#competences" data-ancre="competences">Compétences</a></li>
            <li><a href="{{ path('client_actualite_manager') }}">Actualités</a></li>
            <li><a href="{{ path('client_page_index') }}#contact" data-ancre="contact">Contact</a></li>
        </ul>
    </div>
</nav>