{% extends "GlobalBundle:Admin/Layout:layout.html.twig" %}

{% block contentTitre %}Modifier le mot de passe de : {{ utilisateur.username}} {% endblock %}

{% block breadcrumb %}
	<div id="breadcrumb">
		{{ include("GlobalBundle:Admin/Include:breadcrumb.html.twig", {'breadcrumb':breadcrumb }) }}
	</div>
{% endblock %}

{% block content %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal', novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		{{ form_rest(form) }}

	{{ form_end(form) }}
{% endblock %}